/release/*
/nbproject
/build/bin
/build/buildlang
/build/phingext
/build/tools
/plugins/*/yubikey/language/en-GB
/plugins/*/yubikey/yubikey.xml
/documentation/yubikey-guide.xml~
/build/templates/release.json
/build/build.properties
/modules/admin/yubikeylogin/mod_yubikeylogin.xml
/modules/*/language/en-GB
/modules/admin/yubikeylogin/language/en-GB

/.idea/workspace.xml

/.idea/cssxfire.xml
/.idea/yubikeyauth.iml
