/release/*
/nbproject
/build/bin
/build/buildlang
/build/phingext
/build/tools
/plugins/*/yubikey/language/en-GB
/plugins/*/yubikey/yubikey.xml
/documentation/yubikey-guide.xml~
/build/templates/release.json
/build/build.properties
