/release/*
/nbproject
/build/bin
/build/buildlang
/build/phingext
/build/tools
/plugins/twofactorauth/u2f/language/en-GB
/plugins/twofactorauth/yubikeyplus/language/en-GB
/plugins/twofactorauth/yubikeytotp/language/en-GB
/plugins/twofactorauth/*/*.xml
/plugins/twofactorauth/*/CHANGELOG
/plugins/twofactorauth/*/LICENSE.txt
/documentation/*.xml~
/build/templates/release.json
/build/build.properties

/.idea/workspace.xml
/.idea/cssxfire.xml
/.idea/yubikeyauth.iml
